body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    box-sizing: border-box;

    position: relative;
    width: 528px;
    height: 608px;
    
    background: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

h1 {
    color: goldenrod;
}

#message-el {
    position: absolute;
width: 123px;
height: 56px;
left: 146px;
top: 304px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;
    
}
button {
    colour:#016f32;
    width : 150px;
    background: goldenrod;
    border:none;
    border-radius: smooth;

}